@page "/createuser"
<h3>CreateUser</h3>

 <p>
    Fornavn:
    <input placeholder ="Fornavn" @bind="fornavn" />
    <br />
    Efternavn:
    <input placeholder ="Efternavn" @bind="efternavn" />
    <br />
    Mobil:
    <input placeholder ="Mobilnummer" @bind="mobil" />
    <br />
    Email:
    <input placeholder ="Email" @bind="email" />
    <br />
    Password: 
     <input placeholder ="Password" @bind="password" />
    <br />
    <a class="btn btn-primary" @onclick="CreateBruger">Login</a>
<<<<<<< HEAD
=======
    <button class="btn btn-success" @onclick="getUser">Create</button>
>>>>>>> parent of b7b4e38 (Merge branch 'main' of https://github.com/nicolaiskat/shelterbooking)
=======
>>>>>>> parent of f085d83 (Merge branch 'main' of https://github.com/nicolaiskat/shelterbooking)
</p>

@code {

    public string fornavn;
    public string efternavn;
    public string mobil;
    public string email;
    public string password;
    public void getUser() { }

<<<<<<< HEAD
    async Task CreateBruger()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to create user {user.fornavn}?"))
        {
            await Http.PostAsJsonAsync("api/users", new Bruger(user.fornavn, user.efternavn, user.mobil, user.email, user.password, user.level));
            await js.InvokeVoidAsync("alert", $"Created successfully!");
            uriHelper.NavigateTo("/");
        }
    }
}
=======
}
>>>>>>> parent of b7b4e38 (Merge branch 'main' of https://github.com/nicolaiskat/shelterbooking)
