@page "/createuser"
@inject NavigationManager uriHelper
@inject HttpClient Http
@inject IJSRuntime js
@using shelterbooking.Shared 

<h3>CreateUser</h3>

<p>
    Fornavn:
    <input placeholder="Fornavn" @bind="user.fornavn" />
    <br />
    Efternavn:
    <input placeholder="Efternavn" @bind="user.efternavn" />
    <br />
    Mobil:
    <input placeholder="Mobilnummer" @bind="user.mobil" />
    <br />
    Email:
    <input placeholder="Email" @bind="user.email" />
    <br />
    Password:
    <input placeholder="Password" @bind="user.password" />
    <br />
    <a class="btn btn-primary" @onclick="CreateBruger">Login</a>
</p>

@code {

    public Bruger user = new();

    async Task CreateBruger()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to create user {user.fornavn}?"))
        {
            await Http.PostAsJsonAsync("api/users", new Bruger(user.fornavn, user.efternavn, user.mobil, user.email, user.password, user.level));
            await js.InvokeVoidAsync("alert", $"Created successfully!");
            uriHelper.NavigateTo("login");
        }
    }
}