@page "/fetchdata"
@using shelterbooking.Shared
@inject HttpClient Http

<h1>Shelterbooking i Aarhus, Skanderborg og Silkeborg</h1>

<p>
    Se det skønne udvalg over Shelters i Aarhus, Skanderborg og Silkeborg kommune.
    Her kan du se ledige shelters og booke shelters.
</p>

@if (shelters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <b>Søgekriterier: </b>
    </p>
    <p>Navn: <input /></p>
    <p>Antal pladser: <input /> - <input /></p>
    <p>Kommunenavn: <input /></p>
    

    <br />
    <br />


    <table class="table">
        <thead>
            <tr>
                <th>Shelterplads</th>
                <th>Book nu</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var shelter in shelters)
            {
                <tr>
                    <td>
                        <b>Navn: </b>@shelter.properties.navn
                        <br />
                        <b>Antal pladser: </b>@shelter.properties.antal_pl
                        <br />
                        <b>Kommune: </b>@shelter.properties.cvr_navn
                        <br />
                        <b>Beskrivelse: </b>@shelter.properties.beskrivels.
                        <br />
                        <b>Fejlmeld shelter: </b><input />
                    </td>
                    <td><button>Book</button></td>
                </tr>

            }
        </tbody>
    </table>
}

@code {
    private Shelter[] shelters;

    protected override async Task OnInitializedAsync()
    {
        shelters = await Http.GetFromJsonAsync<Shelter[]>("SheltersList");
    }

}
