<<<<<<< HEAD
﻿@page "/index"
<h1>Overnatning i naturen</h1>
=======
﻿@page "/"
<h1>Hello, world!</h1>
>>>>>>> parent of f085d83 (Merge branch 'main' of https://github.com/nicolaiskat/shelterbooking)

Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />


@code {
}