@page "/"
<h1>Overnatning i naturen</h1>

<h2>Der er mange muligheder for at overnatte i naturen. </h2>
<br />
<p>Overnattende gæster har nu mulighed for at sikre sig at komme frem til et ledigt shelter.</p>
<br />
<p>På listen over shelters kan du se mulighederne for at overnatte på udendørs arealer </p>


@code {
}