@page "/shelter/create"
@inject HttpClient Http
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using shelterbooking.Shared
@using shelterbooking.Client.Components 

<h3>Create Shelter</h3>

<Form ButtonText="Create shelter" prop="@prop"
      OnValidSubmit="@CreateShelter" />

@code {
    public Properties prop = new Properties();
    public Geometry geom = new Geometry("MultiPoint", new() { new() { 0, 0 } });

    async Task CreateShelter()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to create shelter {prop.navn}?"))
        {
            await Http.PostAsJsonAsync("api/shelters", new Shelter("Feature", geom, prop));
            uriHelper.NavigateTo("pedelside");
        }
    }
}
