@page "/booking/create/{shelId}/{userId}"
@inject HttpClient Http
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using shelterbooking.Shared
@using shelterbooking.Client.Components 

<h3>Create Booking</h3>

<Form3 ButtonText="Create Booking" book="@book"
      OnValidSubmit="@CreateBooking" />

@code {
    [Parameter] public string shelId { get; set; }
    [Parameter] public string userId { get; set; }
    public Booking book = new Booking();

    async Task CreateBooking()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to book shelter {shelId}?"))
        {
            await Http.PostAsJsonAsync("api/bookings", new Booking(shelId, userId, book.kommentar, book.startdato, book.slutdato, book.fuldenavn, book.telefon));
            uriHelper.NavigateTo($"fetchdata/{userId}");
        }
    }
}